Intro to Python
=======

## Numbers

We can do math with Python!

In [5]:
2 + 3

5

In [6]:
4 * 5

20

In [7]:
5 - 1

4

In [8]:
40 / 2

20.0

exponential calculation, say 2 to the power 3

In [9]:
2 ** 3

8

As you can see, Python is a great calculator.

## Strings

Type your name in quotes like below:

In [13]:
"Mickey"

'Mickey'

Put together / concatenate strings:

## Operators

In [11]:
"Hi there " + "Mickey"

'Hi there Mickey'

Multiply strings with a number:

In [12]:
"Mickey" * 3

'MickeyMickeyMickey'

Put an apostrophe inside your string:

Using double quotes

In [15]:
"Ain't no rest for the wicked"

"Ain't no rest for the wicked"

or escaping the apostrophe with a backslash (\):

In [17]:
'Ain\'t no rest for the wicked'

"Ain't no rest for the wicked"

## `upper()` and `len()` functions

to see your name in uppercase letters, type

In [18]:
"Mickey".upper()

'MICKEY'

know the number of letters contained in your name

In [19]:
len("Mickey")

6

## Errors

Can we get the length of a number the same way we could find out the length of our name?

In [21]:
len(12345)

TypeError: object of type 'int' has no len()

making mistakes even intentional ones are an important part of learning ;)

It says that objects of type "int" (integers, whole numbers) have no length. So what can we do now?

In [22]:
len(str(12345))

5

Let's create a new variable called `name`

In [23]:
name = "Mickey"

In [24]:
name

'Mickey'

You can always change what your variable refers to:

In [26]:
name = "Shikamaru"

In [27]:
name

'Shikamaru'

You can use functions too

In [29]:
len(name)

9

variables can be anything -- numbers too!

In [31]:
a = 4

In [32]:
b = 6

In [33]:
a * b

24

But what if we mispelled the variable?

In [34]:
city = "Tokyo"

In [35]:
ciyt

NameError: name 'ciyt' is not defined

An error! As you can see, Python has different types of errors and this one is called a `NameError`. 
Python will give you this error if you try to use a variable that hasn't been defined yet.

## The `print()` function

In [36]:
name = "Naruto"

In [38]:
name

'Naruto'

In [37]:
print(name)

Naruto

When you just type `name`, the Python interpreter responds with the string representation of the variable 'name'

When you say `print(name)`, Python will "print" the contents of the variable to the screen, without the quotes

# Lists

Lists are objects which are lists of other objects

Create a list:

In [40]:
[]

[]

 Let's create a list of lottery numbers

In [41]:
lottery = [3, 42, 12, 19, 30, 59]

Let's see how many lottery numbers are in the list

In [43]:
len(lottery)

6

`len()` can give you a number of objects in a list

Let's try to sort the lottery numbers

In [44]:
lottery.sort()

This doesn't return anything, it just changed the order in which the numbers appear in the list. Let's print it out again and see what happened:

In [45]:
print(lottery)

[3, 12, 19, 30, 42, 59]

the numbers in your list are now sorted from the lowest to highest value

Let's try to reverse that order

In [48]:
lottery.reverse()

In [49]:
print(lottery)

[59, 42, 30, 19, 12, 3]

If you want to add a new item to your list, you can

In [52]:
lottery.append(199)

In [53]:
print(lottery)

[59, 42, 30, 19, 12, 3, 199]

If you want to show only the first number, you can do this by using **indexes**. An index is the number that says where in a list an item occurs. Programmers prefer to start counting at 0, so the first object in your list is at index 0, the next one is at 1, and so on

In [55]:
print(lottery[0])

59

In [56]:
print(lottery[1])

42

you can access different objects in your list by using the list's name and the object's index inside of square brackets

To delete an item from your list you will need to use **indexes** as we learned above and the `pop()` method

In [57]:
print(lottery)

[59, 42, 30, 19, 12, 3, 199]

In [58]:
print(lottery[0])

59

In [59]:
lottery.pop(0)

59

In [60]:
print(lottery)

[42, 30, 19, 12, 3, 199]

# Dictionaries

A dictionary is similar to a list, but you access values by looking up a key instead of a numeric index. A key can be any string or number.

Create a dictionary

In [62]:
{}

{}

In [87]:
participant = {'name': 'Naruto', 'country': 'Japan', 'favorite_numbers': [7, 42, 92]}

With this command, you just created a variable named participant with three key-value pairs

In [88]:
print(participant['name'])

Naruto

In [89]:
participant['age']

KeyError: 'age'

Look, another error! This one is a KeyError. Python is helpful and tells you that the key 'age' doesn't exist in this dictionary.

You can add new key-value pairs to a dictionary after it is created, like this:

In [90]:
participant['favorite_language'] = 'Python'

Like lists, using the `len()` method on the dictionaries returns the number of key-value pairs in the dictionary.

In [79]:
len(participant)

4

In [91]:
participant

{'name': 'Naruto',
 'country': 'Japan',
 'favorite_numbers': [7, 42, 92],
 'favorite_language': 'Python'}

You can use the pop() method to delete an item in the dictionary

In [92]:
participant.pop('favorite_numbers')

[7, 42, 92]

In [93]:
participant

{'name': 'Naruto', 'country': 'Japan', 'favorite_language': 'Python'}

You can also change a value associated with an already-created key in the dictionary

In [94]:
participant['country'] = 'Germany'

In [95]:
participant

{'name': 'Naruto', 'country': 'Germany', 'favorite_language': 'Python'}

As you can see, the value of the key 'country' has been altered from 'Japan' to 'Germany'

# Compare Things

A big part of programming involves comparing things. What's the easiest thing to compare? Numbers!

In [98]:
5 > 2

True

In [99]:
3 < 1

False

In [100]:
5 > 2 * 2

True

In [101]:
1 == 1

True

In [102]:
5 != 2

True

not only can Python compare numbers, but it can also compare method results. Nice, huh?

We put two equal signs `==` next to each other to compare if numbers are equal

We use a single `=` for assigning values to variables.

In [103]:
6 >= 12 / 2

True

In [104]:
3 <= 2

False

Let's try some more! :)

In [106]:
6 > 2 and 2 < 3

True

In [107]:
3 > 2 and 2 < 1

False

In [108]:
3 > 2 or 2 < 1

True

You can give Python as many numbers to compare as you want, and it will give you an answer!

- **and** -- if you use the and operator, both comparisons have to be True in order for the whole command to be True
- **or** -- if you use the or operator, only one of the comparisons has to be True in order for the whole command to be True

Have you heard of the expression "comparing apples to oranges"? Let's try the Python equivalent:

In [109]:
1 > 'django'

TypeError: '>' not supported between instances of 'int' and 'str'

# Boolean

There are only two Boolean objects:
* True
* False

Booleans can be variables, too!

In [111]:
a = True

In [112]:
a

True

You can also do it this way:

In [113]:
a = 2 > 5

In [114]:
a

False

Practice and try these as well:

In [115]:
True and True

True

In [116]:
False and True

False

In [117]:
True or 1 == 1

True

In [118]:
1 != 2

True

# Saving files

In [ ]:
print('Hello, The Coding School!')

open your favorite code editor and save this line of code in a file called `python_intro.py`

Run the file

`$ python3 python_intro.py`

You just ran your first Python program that was saved to a file. Feel awesome?

You can now move on to an essential tool in programming:

# If … elif … else

Lots of things in code should be executed only when given conditions are met. That's why Python has something called if statements.

Replace the code in your `python_intro.py` file with this:

In [ ]:
if 3 > 2:

If we were to save and run this, we'd see an error like this:

`$ python3 python_intro.py`

```
File "python_intro.py", line 2
         ^
SyntaxError: unexpected EOF while parsing
```

Python expects us to give further instructions to it which are executed if the condition.
Change your code in your `python_intro.py` file to this:

In [ ]:
if 3 > 2:
    print('It works!')

`$ python3 python_intro.py`
```
It works!
```

## What if a condition isn't True?

In your `python_intro.py` file:

In [ ]:
if 5 > 2:
    print('5 is indeed greater than 2')
else:
    print('5 is not greater than 2')

`$ python3 python_intro.py`
```
5 is indeed greater than 2
```

Let's see how `elif` works:

In [ ]:
name = 'Sakura'
if name == 'Sakura':
    print('Hey Sakura!')
elif name == 'Hinata':
    print('Hey Hinata!')
else:
    print('Hey anonymous!')

`$ python3 python_intro.py`
```
Hey Sakura!
```

In [ ]:
You can add as many elif statements as you like after your initial if statement. For example:

In [ ]:
volume = 57
if volume < 20:
    print("It's kinda quiet.")
elif 20 <= volume < 40:
    print("It's nice for background music")
elif 40 <= volume < 60:
    print("Perfect, I can hear all the details")
elif 60 <= volume < 80:
    print("Nice for parties")
elif 80 <= volume < 100:
    print("A bit loud!")
else:
    print("My ears are hurting! :(")

`$ python3 python_intro.py`
```
Perfect, I can hear all the details
```

# Comments

Comments are lines beginning with `#`. You can write whatever you want after the `#` and Python will ignore it. Comments can make your code easier for other people to understand.

In [ ]:
# Change the volume if it's too loud or too quiet
if volume < 20 or volume > 80:
    volume = 50
    print("That's better!")

# Functions

A function is a sequence of instructions that Python should execute.

In [ ]:
def hi():
    print('Hi there!')
    print('How are you?')

hi()

`$ python3 python_intro.py`
```
Hi there!
How are you?
```

In [ ]:
def hi(name):
    name = 'Sakura'
    if name == 'Sakura':
        print('Hey Sakura!')
    elif name == 'Hinata':
        print('Hey Hinata!')
    else:
        print('Hey anonymous!')
        
hi()

`$ python3 python_intro.py`
```
Traceback (most recent call last):
File "python_intro.py", line 10, in <module>
  hi()
TypeError: hi() missing 1 required positional argument: 'name'
```

In [ ]:
hi("Sakura")

`$ python3 python_intro.py`
```
Hey Sakura!
```

In [ ]:
hi("Hinata")

`$ python3 python_intro.py`
```
Hey Hinata!
```

In [ ]:
hi("Naruto")

`$ python3 python_intro.py`
```
Hey anonymous!
```

Let's do something smarter – there are more names than two, and writing a condition for each would be hard, right? Replace the content of your file with the following:

In [ ]:
def hi(name):
    print('Hi ' + name + '!')

hi("Rachel")

`$ python3 python_intro.py`
```
Hi Rachel!
```

Congratulations! You just learned how to write functions! :)

# Loops

In [ ]:
girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']

We want to greet all of them by their name. We have the `hi` function to do that, so let's use it in a loop:

In [ ]:
for name in girls:

Here is the full code that will be in the file:

In [ ]:
def hi(name):
    print('Hi ' + name + '!')

girls = ['Mickey', 'Anj', 'Alysson', 'Irene', 'Vanessa']
for name in girls:
    hi(name)
    print('Next girl')

`$ python3 python_intro.py`
```
Hi Mickey!
Next girl
Hi Anj!
Next girl
Hi Alysson!
Next girl
Hi Irene!
Next girl
Hi Vanessa!
Next girl
```

You can also use for on numbers using the range function:

In [1]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

`range` is a function that creates a list of numbers following one after the other (these numbers are provided by you as parameters).

That's it. You totally rock for making it this far! :)

# Reference:

Django Girls - Python Introduction
https://tutorial.djangogirls.org/en/python_introduction/